.spotify-logo {
    margin-bottom: 26px;
}

.logo .spotify-logo--text {
    height: 40px;
    max-width: 131px;
    width: 100%;
    color: white;
}

.logo-banner {
    border: 0;
    flex: 1;
    margin-bottom: 18px;
    padding: 0 24px;
}