.signupbar-container {
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    height: 100%;
    width: 100%;
    padding: 11px 15px 7px 38px;

    .singupbar-text {
        color: white;
    }

    .signup-text-upper {
        font-family: GothamMedium, serif;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .signup-text-down {
        font-size: 16px;
    }

    .signup-button {
        font-family: GothamMedium, serif;
        background-color: white;
        color: black;
        border: none;
        border-radius: 500px;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 29px;
        padding-left: 29px;
        float: right;

        &:hover {
            transform: scale(1.04);
        }
    }
}
